PORT=3000
HOST=0.0.0.0

AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=your_access_key
AWS_SECRET_ACCESS_KEY=your_secret_key

LAMBDA_FUNCTION_NAME=screenshot-processor
S3_BUCKET_NAME=your-screenshots-bucket

# Tiempo en segundos para URLs pre-firmadas
S3_PRESIGNED_URL_EXPIRES=3600
